* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 9px;
  padding: 4px 2px;
  width: 18px;
  height: 18px;

  .rectangle346240934 {
    flex-shrink: 0;
    border-radius: 1px;
    background: var(--01-Blue, #1664ff);
    width: 13px;
    height: 2px;
  }

  .rectangleCopy80 {
    position: absolute;
    top: 5px;
    left: 5px;
    flex-shrink: 0;
    border-radius: 18px;
    background: var(--01-Blue, #1664ff);
    width: 8px;
    height: 8px;
  }
}
