* {
  box-sizing: border-box;
}

.frame5 {
  display: inline-flex;
  align-items: flex-start;
  column-gap: 16px;
  width: 122px;
  height: 20px;
  overflow: hidden;

  .now {
    flex-shrink: 0;
    line-height: 12px;
    letter-spacing: 0;
    color: #737a87;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  .frame2 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 8px;
    height: 20px;
    overflow: hidden;

    .frame {
      position: relative;
      flex-shrink: 0;
      width: 18px;
      height: 18px;

      .rectangle {
        position: absolute;
        top: 8px;
        left: 3px;
        border-radius: 1px;
        background: #1664ff;
        width: 13px;
        height: 2px;
      }

      .ellipse {
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        background: #1664ff;
        width: 8px;
        height: 8px;
      }
    }
  }

  .frame4 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 8px;
    height: 20px;
    overflow: hidden;

    .frame3 {
      position: relative;
      flex-shrink: 0;
      width: 18px;
      height: 18px;

      .rectangle2 {
        position: absolute;
        top: 8px;
        left: 3px;
        border-radius: 1px;
        background: #1ac6ff;
        width: 13px;
        height: 2px;
      }

      .ellipse2 {
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        background: #1ac6ff;
        width: 8px;
        height: 8px;
      }
    }
  }
}
